src/BugNET.SubversionHooks/Web References/WebServices/BugNetServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://bugnetproject.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://bugnetproject.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://bugnetproject.com/">
      <s:element name="ValidIssue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="issueId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidIssueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidIssueResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewIssueRevision">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="revision" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="issueId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="repository" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="revisionAuthor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="revisionDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="revisionMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="changeset" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="branch" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewIssueRevisionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateNewIssueRevisionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewIssueAttachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="issueId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="creatorUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attachment" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="size" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewIssueAttachmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateNewIssueAttachmentResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenameCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="categoryId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenameCategoryResponse">
        <s:complexType />
      </s:element>
      <s:element name="MoveCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="categoryId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldParentId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newParentId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoveCategoryResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCategories">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="projectId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCategoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCategoriesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="projectId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parentCategoryId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddCategoryResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="categoryId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCategoryResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetResolutions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProjectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResolutionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResolutionsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMilestones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProjectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMilestonesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMilestonesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIssueTypes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProjectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIssueTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIssueTypesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPriorities">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProjectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPrioritiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPrioritiesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProjectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatusResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProjectCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetProjectIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectIssues">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProjectId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Filter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectIssuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProjectIssuesResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="LogIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogInResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOut">
        <s:complexType />
      </s:element>
      <s:element name="LogOutResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidIssueSoapIn">
    <wsdl:part name="parameters" element="tns:ValidIssue" />
  </wsdl:message>
  <wsdl:message name="ValidIssueSoapOut">
    <wsdl:part name="parameters" element="tns:ValidIssueResponse" />
  </wsdl:message>
  <wsdl:message name="CreateNewIssueRevisionSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNewIssueRevision" />
  </wsdl:message>
  <wsdl:message name="CreateNewIssueRevisionSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNewIssueRevisionResponse" />
  </wsdl:message>
  <wsdl:message name="CreateNewIssueAttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNewIssueAttachment" />
  </wsdl:message>
  <wsdl:message name="CreateNewIssueAttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNewIssueAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="RenameCategorySoapIn">
    <wsdl:part name="parameters" element="tns:RenameCategory" />
  </wsdl:message>
  <wsdl:message name="RenameCategorySoapOut">
    <wsdl:part name="parameters" element="tns:RenameCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="MoveCategorySoapIn">
    <wsdl:part name="parameters" element="tns:MoveCategory" />
  </wsdl:message>
  <wsdl:message name="MoveCategorySoapOut">
    <wsdl:part name="parameters" element="tns:MoveCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetCategoriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="GetCategoriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="AddCategorySoapIn">
    <wsdl:part name="parameters" element="tns:AddCategory" />
  </wsdl:message>
  <wsdl:message name="AddCategorySoapOut">
    <wsdl:part name="parameters" element="tns:AddCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCategorySoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCategory" />
  </wsdl:message>
  <wsdl:message name="DeleteCategorySoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetResolutionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetResolutions" />
  </wsdl:message>
  <wsdl:message name="GetResolutionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetResolutionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetMilestonesSoapIn">
    <wsdl:part name="parameters" element="tns:GetMilestones" />
  </wsdl:message>
  <wsdl:message name="GetMilestonesSoapOut">
    <wsdl:part name="parameters" element="tns:GetMilestonesResponse" />
  </wsdl:message>
  <wsdl:message name="GetIssueTypesSoapIn">
    <wsdl:part name="parameters" element="tns:GetIssueTypes" />
  </wsdl:message>
  <wsdl:message name="GetIssueTypesSoapOut">
    <wsdl:part name="parameters" element="tns:GetIssueTypesResponse" />
  </wsdl:message>
  <wsdl:message name="GetPrioritiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetPriorities" />
  </wsdl:message>
  <wsdl:message name="GetPrioritiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetPrioritiesResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="GetStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetProjectIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetProjectId" />
  </wsdl:message>
  <wsdl:message name="GetProjectIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetProjectIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetProjectIssuesSoapIn">
    <wsdl:part name="parameters" element="tns:GetProjectIssues" />
  </wsdl:message>
  <wsdl:message name="GetProjectIssuesSoapOut">
    <wsdl:part name="parameters" element="tns:GetProjectIssuesResponse" />
  </wsdl:message>
  <wsdl:message name="LogInSoapIn">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="LogInSoapOut">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="LogOutSoapIn">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="LogOutSoapOut">
    <wsdl:part name="parameters" element="tns:LogOutResponse" />
  </wsdl:message>
  <wsdl:portType name="BugNetServicesSoap">
    <wsdl:operation name="ValidIssue">
      <wsdl:input message="tns:ValidIssueSoapIn" />
      <wsdl:output message="tns:ValidIssueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewIssueRevision">
      <wsdl:input message="tns:CreateNewIssueRevisionSoapIn" />
      <wsdl:output message="tns:CreateNewIssueRevisionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewIssueAttachment">
      <wsdl:input message="tns:CreateNewIssueAttachmentSoapIn" />
      <wsdl:output message="tns:CreateNewIssueAttachmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RenameCategory">
      <wsdl:input message="tns:RenameCategorySoapIn" />
      <wsdl:output message="tns:RenameCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MoveCategory">
      <wsdl:input message="tns:MoveCategorySoapIn" />
      <wsdl:output message="tns:MoveCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input message="tns:GetCategoriesSoapIn" />
      <wsdl:output message="tns:GetCategoriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <wsdl:input message="tns:AddCategorySoapIn" />
      <wsdl:output message="tns:AddCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <wsdl:input message="tns:DeleteCategorySoapIn" />
      <wsdl:output message="tns:DeleteCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResolutions">
      <wsdl:input message="tns:GetResolutionsSoapIn" />
      <wsdl:output message="tns:GetResolutionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMilestones">
      <wsdl:input message="tns:GetMilestonesSoapIn" />
      <wsdl:output message="tns:GetMilestonesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIssueTypes">
      <wsdl:input message="tns:GetIssueTypesSoapIn" />
      <wsdl:output message="tns:GetIssueTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPriorities">
      <wsdl:input message="tns:GetPrioritiesSoapIn" />
      <wsdl:output message="tns:GetPrioritiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <wsdl:input message="tns:GetStatusSoapIn" />
      <wsdl:output message="tns:GetStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectId">
      <wsdl:input message="tns:GetProjectIdSoapIn" />
      <wsdl:output message="tns:GetProjectIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectIssues">
      <wsdl:input message="tns:GetProjectIssuesSoapIn" />
      <wsdl:output message="tns:GetProjectIssuesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <wsdl:input message="tns:LogInSoapIn" />
      <wsdl:output message="tns:LogInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input message="tns:LogOutSoapIn" />
      <wsdl:output message="tns:LogOutSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BugNetServicesSoap" type="tns:BugNetServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidIssue">
      <soap:operation soapAction="http://bugnetproject.com/ValidIssue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewIssueRevision">
      <soap:operation soapAction="http://bugnetproject.com/CreateNewIssueRevision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewIssueAttachment">
      <soap:operation soapAction="http://bugnetproject.com/CreateNewIssueAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameCategory">
      <soap:operation soapAction="http://bugnetproject.com/RenameCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveCategory">
      <soap:operation soapAction="http://bugnetproject.com/MoveCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://bugnetproject.com/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <soap:operation soapAction="http://bugnetproject.com/AddCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <soap:operation soapAction="http://bugnetproject.com/DeleteCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResolutions">
      <soap:operation soapAction="http://bugnetproject.com/GetResolutions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMilestones">
      <soap:operation soapAction="http://bugnetproject.com/GetMilestones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIssueTypes">
      <soap:operation soapAction="http://bugnetproject.com/GetIssueTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPriorities">
      <soap:operation soapAction="http://bugnetproject.com/GetPriorities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="http://bugnetproject.com/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectId">
      <soap:operation soapAction="http://bugnetproject.com/GetProjectId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectIssues">
      <soap:operation soapAction="http://bugnetproject.com/GetProjectIssues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://bugnetproject.com/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap:operation soapAction="http://bugnetproject.com/LogOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BugNetServicesSoap12" type="tns:BugNetServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidIssue">
      <soap12:operation soapAction="http://bugnetproject.com/ValidIssue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewIssueRevision">
      <soap12:operation soapAction="http://bugnetproject.com/CreateNewIssueRevision" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewIssueAttachment">
      <soap12:operation soapAction="http://bugnetproject.com/CreateNewIssueAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameCategory">
      <soap12:operation soapAction="http://bugnetproject.com/RenameCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveCategory">
      <soap12:operation soapAction="http://bugnetproject.com/MoveCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap12:operation soapAction="http://bugnetproject.com/GetCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <soap12:operation soapAction="http://bugnetproject.com/AddCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <soap12:operation soapAction="http://bugnetproject.com/DeleteCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResolutions">
      <soap12:operation soapAction="http://bugnetproject.com/GetResolutions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMilestones">
      <soap12:operation soapAction="http://bugnetproject.com/GetMilestones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIssueTypes">
      <soap12:operation soapAction="http://bugnetproject.com/GetIssueTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPriorities">
      <soap12:operation soapAction="http://bugnetproject.com/GetPriorities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap12:operation soapAction="http://bugnetproject.com/GetStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectId">
      <soap12:operation soapAction="http://bugnetproject.com/GetProjectId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectIssues">
      <soap12:operation soapAction="http://bugnetproject.com/GetProjectIssues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap12:operation soapAction="http://bugnetproject.com/LogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap12:operation soapAction="http://bugnetproject.com/LogOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BugNetServices">
    <wsdl:port name="BugNetServicesSoap" binding="tns:BugNetServicesSoap">
      <soap:address location="http://localhost:59847/Webservices/BugNetServices.asmx" />
    </wsdl:port>
    <wsdl:port name="BugNetServicesSoap12" binding="tns:BugNetServicesSoap12">
      <soap12:address location="http://localhost:59847/Webservices/BugNetServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>